body {
  background-color: white;
}

h1 {
  color: white;
  background-color: green;
  padding: 10px;
  text-align: center;
  font-size: clamp(20px, 4vw, 5vh);
  font-weight: bold;
}

h2 {
  color: black;
  font-size: clamp(18px, 3.5vw, 4vh);
}

h2 a {
  text-decoration: none;
  color: black;
  font-size: clamp(18px, 3.5vw, 30px);
}

h3 {
  color: black;
  font-size: clamp(17px, 3.2vw, 3.8vh);
}

p {
  color: #111;
  /*border: 2px solid black;*/
  /*padding: 10px;*/
  font-size: clamp(16px, 2.2vw, 3vh);
  /*clamp(16px, 3vw, 3.5vh)*/;
}

p a {
  text-decoration: none;
  color: green;
  font-weight: bold;
  /*border: 2px solid black;*/
  /*padding: 10px;*/
  font-size: clamp(16px, 2.2vw, 3vh);
  /*clamp(16px, 3vw, 3.5vh)*/;
}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: color #FFFFFF;
  ;
}

li.navigation {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2vw;
  text-decoration: none;
  /* border: solid black;*/
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: white;
  background-color: green;
}

nav {
  font-size: clamp(16px, 3vw, 25px);
}

hr {
  border-top: 2px solid black;
}

table {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: clamp(16px, 2vw, 2.5vh);
}

th
{
  margin-left: auto;
  padding: 10px;
  font-weight: bold;
}

td {
  margin-left: 10px;
  padding: 10px;
}

.pink {
  color: pink;
}

img.header {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

img.right {
  width: 25%;
  margin-right: 0%;
  margin-left: auto;
  padding: 10px;
}

img.profile {
  width: 20%;
  min-width: 250px;
  margin-left: 1%;
}


.contact-box {
  background-color: blanchedalmond;
  display: flex;
}

.contact-form {
  /*flex-basis: 50%;*/
  padding: 2%;
  margin-top: 50px;
}

.contact-info {
  flex-basis: 50%;
  padding: 40px;
  background-color: green;
  color: blanchedalmond;
}

.container p {
  margin-bottom: 40px;
  text-align: center;
}

.input-row {
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
  margin-top: 20px;
}

input {
  background-color: blanchedalmond;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(204, 204, 204);
  outline: none;
  padding: 10px;
  margin-left: 1px;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  outline: none;
  padding: 10px;
}

label {
  margin-bottom: 5px;
  display: block;
  color: green;
}

button {
  background-color: green;
  width: 100px;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
}

.contact-info {
  padding: 2%;
  background-color: green;
  margin-right: 1px;
}

.contact-info h3 {
  margin-top: 50px;
  font-weight: 600;
  margin-bottom: 30px;
  color: blanchedalmond;
}

.contact-info table {
 
  border: 1px solid black;
  border-radius: 5px;
}

.contact-info tr td {
  padding-right: auto;
}

.contact-info tr td {
  padding-top: auto;
}

.contact-form h3 {
  color: green;
  font-weight: 600;
  margin-bottom: 50px;
}

.button1 {
  top:50%;
  width:45%;
  background-color:darkgreen;
  color: #fff;
}