/*
This is our primary application CSS code
*/

h1 {
    font-size:24px; 
    color:blue
}
h2 {
    font-size:18px; 
    color:red}

td, th {
    text-align:center;
    padding:5px;
    border:1px solid green;
}

p{
    font-style: italic;
    font-weight:bold;
    font-size:16px;
    border: 1px dotted red;
}

p.class1{
    border: 1px dotted green;
}

div.ex1 .class1 {
font-style:italic;
font-weight:bold;
color:red;

}

div.ex1 .class1.success{
    border:1px solid blue;
    padding: 10px;
    background-color:lightblue;
}