body {
    background-color: white;
}

h1 {
    color: white;
    background-color: green;
    padding: 10px;
    text-align: center;
    font-size: clamp(20px, 4vw,40px);
    font-weight: bold;
}

h2 {
    color: black;
    font-size:25px;
}

h2 a {
  text-decoration: none;
  color: black;
  font-size: 140%;
}

p {
    color:#111;
    /*border: 2px solid black;*/
    /*padding: 10px;*/
    font-size:clamp(16px, 3vw,20px);
}

ul.navigation {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background: color #FFFFFF;;
}

li.navigation {
    float:left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   /* border: solid black;*/
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: white;
    background-color:green;
  }

  nav {
    font-size:clamp(16px, 3vw,25px);
  }

  hr {
    border-top: 3px solid black;
  }

  table, th, td {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

  .pink {
    color: pink;
  }

  img.header {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  img.right {
    width: 25%;
    float: right;
    padding: 10px;
  }

